img#qr_icon {
  width: 28px;
  margin-right: 8px;
}

img#clipboard {
  width: 32px;
  vertical-align: bottom;
}

img#clipboard:hover {
  cursor: pointer;
}

img#clipboard:focus {
  outline: 1px solid lightblue;
}

#pretix-eth-qr-div {
  display: none;
}

span#address {
  background: lightgray;
  padding: 4px;
  overflow-wrap: anywhere;
}

li.payment-options {
  line-height: 1.5;
  margin-bottom: 16px;
  padding-left: 8px;
}

ul.payment-info {
  margin-top: 4px;
}

button#web3modal_btn {
  margin-left: 8px;
  background: rgba(64, 153, 255);
}

button#web3modal_btn:hover {
  box-shadow: none;
}

button#uniswap_btn {
  margin-left: 8px;
  background: #FF007A;
}

button#uniswap_btn:hover {
  box-shadow: none;
}

#pretix-eth-payment-summary {
  margin-bottom: 2em;
}

#web3modal {
  margin-bottom: 2em;
}

#web3modal #prepare {
  display: block;
}

#web3modal #connected {
  display: none;
}

#web3modal #switching-chains {
  display: none;
}

#web3modal #sign-a-message {
  display: none;
}

#web3modal #send-transaction {
  display: none;
}

#web3modal #set-correct-network {
  display: none;
}

#web3modal #success {
  display: none;
}

#web3modal #message-error {
  display: block;
}
