{% load i18n %}
{% block content %}
<style>
  div#connect-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div#connect-container button {
    transition: all 0.2s ease-in-out;
    position: relative;
    border: none;
    border-style: none;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background: none;
    border-radius: 6px;
    padding: 8px 12px;
    width: 100%;
    max-width: 160px;
    background: rgb(12, 13, 12);
    color: white;
    margin: 0 12px;
    cursor: pointer;
  }

  div#connect-container button:hover {
    opacity: 0.7;
  }

  div#connect-container button#connect-metamask {
    background: rgb(246, 133, 27);
  }

  div#connect-container button#connect-walletconnect {
    background: rgb(64, 153, 255);
  }

  div#connect-error-message {
    color: rgb(255, 22, 22);
  }
</style>
<script type="text/javascript">
  const from = "{{ from }}";
  const amount = "{{ amount }}";
  const currency = "{{ currency }}";
</script>
<script type="text/javascript" src="/static/pretix_eth/web3.min.js"></script>
<script
  type="text/javascript"
  src="/static/pretix_eth/bignumber.min.js"
></script>
<script type="text/javascript" src="/static/pretix_eth/transaction.js"></script>
<script
  type="text/javascript"
  src="/static/pretix_eth/walletconnect/browser/index.js"
></script>
<script
  type="text/javascript"
  src="/static/pretix_eth/walletconnect/qrcode-modal/index.js"
></script>
<script
  type="text/javascript"
  src="/static/pretix_eth/connect.js"
></script>
{% endblock %}
<p>{% blocktrans trimmed %}</p>
<p>
  You're almost done, we just need you to send a transaction for {{ amount }}
  {{ currency }}
  Please choose how you would like to pay for it bellow.
</p>
<div id="connect-container">
  <button id="connect-metamask" type="button" onclick="onMetaMask()">
    Metamask
  </button>
  <button
    id="connect-walletconnect"
    type="button"
    onclick="onWalletConnect()"
  >
    WalletConnect
  </button>
</div>
<div id="connect-error-message"></div>
<p>{% endblocktrans %}</p>
