{% load i18n bootstrap3 %}

<div class="form-horizontal">
  {% comment %} {% if ETH_address or DAI_address %}
    <div class="ETH-crypto-payment-details">
      <p>
        {% blocktrans trimmed %}
        Your ticket is now reserved for as long as this cart is active
        (visible to the right of the &ldquo;Your cart&rdquo; heading). Please
        make a payment, before your cart expires, to either of the addresses
        listed below depending on your chosen currency. Do
        <strong>NOT</strong> send a payment for the wrong currency type to
        the wrong address. Doing so may cause you to lose your funds.
        {% endblocktrans %}
      </p>
    </div>
  {% endif %}
  {% if ETH_address %}
    <div class="ETH-crypto-payment-details">
      <p>
        {% blocktrans trimmed %}
        Send {{ ETH_per_ticket }} ETH to {{ ETH_address }}.
        {% endblocktrans %}
      </p>
    </div>
  {% endif %}
  {% if ETH_address and DAI_address %}
    <div class="ETH-crypto-payment-details">
      <p><strong>&mdash; {% trans "OR" %} &mdash;</strong></p>
    </div>
  {% endif %}
  {% if DAI_address %}
    <div class="ETH-crypto-payment-details">
      <p>
        {% blocktrans trimmed %}
        Send {{ DAI_per_ticket }} DAI to {{ DAI_address }}.
        {% endblocktrans %}
      </p>
    </div>
  {% endif %} {% endcomment %}

  {% bootstrap_form form layout='horizontal' %}
</div>
