{% load i18n %}

{% if payment_info %}
    <dl class="dl-horizontal">
        <dt>{% trans "Amount Expected" %}</dt>
        <dd>{{ payment_info.amount }}</dd>
        <dt>{% trans "Currency type" %}</dt>
        <dd>{{ payment_info.currency_type }}</dd>
        <dt>{% trans "Wallet Address" %}</dt>
        <dd>{{ wallet_address }}</dd>
        <dt>{% trans "Transaction hash" %}</dt>
        <dd>{{ payment_info.txn_hash }}</dd>
    </dl>
    {% if "message" in payment_info %}
        <dl class="dl-horizontal">
            <dt>{% trans "Error message" %}</dt>
            <dd>{{ payment_info.message }}</dd>
        </dl>
    {% endif %}
{% endif %}
