{% load i18n %}
{% load static %}

<br/><br/>

{% if payment_is_valid %}

  <a id="pretix-eth-qr-anchor" href="{{ erc_681_url }}" class="collapse"></a>

  <p>{% trans "Choose one of the following payment options:" %}</p>


  {% include "pretix_eth/web3modal.html" with payment=payment %}

  <p>
    {% blocktrans trimmed %}
    Once you send your payment, our system will automatically check for
    confirmation. Please allow up to several hours. Once confirmed, you will
    get an email notification.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
    If you want to improve this process, submit a PR to this github repository:
    {% endblocktrans %}
    <a href="https://github.com/esPass/pretix-eth-payment-plugin">
      https://github.com/esPass/pretix-eth-payment-plugin
    </a>
  </p>

{% else %}

  <p>
    <strong>
      {% blocktrans trimmed %}
      Your order is not yet complete.  You may have tried to change the payment
      method but cancelled the process midway.  Please choose a payment method
      by clicking the "Re-try payment or choose another payment method" button
      below.
      {% endblocktrans %}
    </strong>
  </p>

{% endif %}
