{% load i18n %}
{% load static %}

<a id="pretix-eth-qr-anchor" href="{{ erc_681_url }}" class="collapse"></a>
<br/><br/>
<p>
    <strong>Please pay for your ticket! Be sure to not change the amount (e.g. round up) even if your wallet allows you to as the order is encoded in the amount.</strong>
</p>
You have the following options to trigger the payment:
<p>
<ul>
  <li>
    via this <a href="https://eips.ethereum.org/EIPS/eip-681">ERC-681</a> QR-Code:<br/><br/>
    <div id="pretix-eth-qr-div"></div>
    <script type="text/javascript" src="{% static "pretix_eth/generate_qrcode.js" %}"></script>
  </li>
  <li>
    <a target="blank" rel="noreferrer noopener" href="{{ web3connect_url }}">via Web3Connect</a> (allows you to pay with WalletConnect and MetatMask)
  </li>
  <li>
   manually pay <b>exactly</b> {{ amount_manual }} to {{ wallet_address }}. Please only do this if you know what you are doing and use the ERC-681 or web3connect methods otherwise.
  </li>
</ul>  
</p>

<p>
    {% blocktrans trimmed %}
    If you already paid - please just stay patient - the transactions are currently just checked once a day. You will get an email - stay patient. If you want to improve this submit a PR this github repository: <a href="https://github.com/esPass/pretix-eth-payment-plugin">https://github.com/esPass/pretix-eth-payment-plugin</a>
    {% endblocktrans %}
</p>

<script type="text/javascript" src="{% static "pretix_eth/check.js" %}"></script>
