{% load i18n %}
{% load static %}

<a id="pretix-eth-qr-anchor" href="ethereum:{{ wallet_address }}?value={{ amount }}" class="collapse"></a>
<br/><br/>
<p>
    <strong>Please pay for your ticket! Be sure to not change the amount (e.g. round up) even if your wallet allows your to as the order is encoded in the amount.</strong>
</p>
You can either use this <a href="https://eips.ethereum.org/EIPS/eip-681">ERC-681</a> QR-Code:<br/><br/>
<div id="pretix-eth-qr-div"></div>
<p>
<script type="text/javascript" src="{% static "pretix_eth/check.js" %}"></script>
<script type="text/javascript" src="{% static "pretix_eth/generate_qrcode.js" %}"></script>
<a target="blank" rel="noreferrer noopener" href="https://checkout.web3connect.com/?currency={{ currency_type }}&amount={{ amount_human }}&to={{ wallet_address }}&callbackUrl={{ request.build_absolute_uri |urlencode }}">Or Pay via Web3Connect</a>

<p>
    {% blocktrans trimmed %}
    If you already paid - please just stay patient - the transactions are currently just checked once a day. You will get an email - stay patient. If you want to improve this submit a PR on github: https://github.com/esPass/pretix-eth-payment-plugin
    {% endblocktrans %}
</p>

