{% csrf_token %}
{% load eventurl %}

<div id="web3modal">
    <div id="prepare" class="pretix-eth-payment-steps">
        <w3m-core-button></w3m-core-button>

        <button class="btn btn-primary" id="btn-connect" data-chain-id="{{ chain_id }}" data-transaction-details-url="{% eventurl event 'plugins:pretix_eth:event.order.transaction_details' organizer=payment.order.event.organizer.slug event=payment.order.event.slug order=payment.order.code secret=payment.order.secret pk=payment.pk %}" data-erc20-abi-url="{% eventurl event 'plugins:pretix_eth:erc2O_abi'  organizer=payment.order.event.organizer.slug event=payment.order.event.slug %}">
            Click here to pay
        </button>
    </div>

    <div id="switching-chains" class="pretix-eth-payment-steps">
        <strong>Switching chains. If nothing happens, you may need to add the chain in your chosen wallet, reload the page, and try again.</strong>
    </div>

    <div id="set-correct-network" class="pretix-eth-payment-steps">
        <strong>Please change your network to <span id="payment-network-id">Mainnet</span>.</strong>
    </div>
    <div id="sign-a-message" class="pretix-eth-payment-steps">
        <strong>Please sign a message in your wallet provider to prove ownership of the address.</strong>
    </div>
    <div id="send-transaction" class="pretix-eth-payment-steps">
        <strong>Please confirm payment that came up in your wallet provider.</strong>
    </div>
    <div id="success">
        <p><strong>Your payment has been submitted in transaction <span id="pretix-eth-transaction-hash"></span>.</strong></p>
        <p><strong>Once the payment has been confirmed on our side we will send you an email.</strong></p>
    </div>
    <div><strong><span id="message-error"></span></strong></div>
</div>

<script>
    // Fetch build manifest on page load (cache: no-store is to ensure the manifest is always up to date - the bundles referenced in the manifest will still be cached as normal)
    fetch("/static/pretix_eth/web3modal-dist/manifest.json", { cache: "no-store" })
        .then(resp => resp.json())
        .then(manifest => {
            const web3modalModule = document.createElement('script');

            web3modalModule.setAttribute('src', manifest['main.js']);
            web3modalModule.setAttribute('type', 'text/javascript');

            document.body.appendChild(web3modalModule);
        })
</script>